#textdomain wesnoth-Age_of_Tentacles

[era]
    id=Age_of_Tentacles
    name= _ "Age of Tentacles"
    require_era=yes
    [multiplayer_side]
	id=saurrian_creatures
	name= _ "Elements of nature"
	image="insectoids/dragonfly.png"
	leader=saurrian shessinsaan_dire
	type=saurrian shessinsaan_dire
	recruit=saurrian shessinsaan_fighter,saurrian mosquito_poison,saurrian mosquito_giant,saurrian dragonfly,saurrian myriapod
    [/multiplayer_side]
    [multiplayer_side]
        id=random_default
        name= _"Random Default"
        image="units/random-dice.png"
        {MAGENTA_IS_THE_TEAM_COLOR}
        random_faction=yes
        choices=Drakes,Knalgan Alliance,Loyalists,Northerners,Rebels,Undead
    [/multiplayer_side]
    [multiplayer_side]
        id=all_random
        name= _"Random"
        image="units/random-dice.png"
        {MAGENTA_IS_THE_TEAM_COLOR}
        random_faction=yes
        choices=Drakes,Knalgan Alliance,Loyalists,Northerners,Rebels,Undead,saurrian_creatures
    [/multiplayer_side]

    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
[/era]
